<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:security="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<form action="#" th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
    <table>
        <tr>
            <td colspan="2"><h1>Edit Form</h1></td>
        </tr>
        <tr>
            <td><label for="name">Имя</label></td>
            <td><input type="text" th:field="${user.name}" id="name" placeholder="Name">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
        </tr>
        <tr>
            <td><label for="surname">Фамилия</label></td>
            <td><input type="text" th:field="${user.surname}" id="surname" placeholder="Surname">
                <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span></td>
        </tr>
        <tr>
            <td><label for="age">Возраст</label></td>
            <td><input type="text" th:field="${user.age}" id="age" placeholder="Age">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span></td>
        </tr>
        <tr>
            <td><label for="pass">Задать новый пароль</label></td>
            <td><input type="text" th:field="*{password}" id="pass" placeholder="Password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></td>
        </tr>
        <tr>
            <td>
                <label>Выберите роли:
                    <input type="checkbox" name="checked"
                           th:each="role : ${roleList}"
                           th:text="${role.getRole()}"
                           th:value="${role.getId()}"
                           th:selected="${user.getAuthorities().contains(role)}">
                </label></td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" value="Update User"></td>
            <td><a th:href="@{/admin}">
                <button type="button">Cancel</button>
            </a> </td>
        </tr>
        <!--        <input type="submit" name="cancel" value="Cancel" />-->


    </table>
    <br>
    <br>
    <a th:href="@{/logout}"><button type="button">Logout</button></a>
</form>

</body>
</html>